/*=============================================
=   START SIDE WIDE DEFAULT FORMATTING    =
=============================================*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


html {
  scroll-behavior: smooth;
  margin: 0 auto;
}

nav,
.scroll,
.header {
  opacity: 1;
  visibility: visible;
  transition: all  600ms 800ms;
}
.modal--open nav,
.modal--open .scroll,
.modal--open .header {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms 200ms;
}
/* 
.dark nav,
.dark .nav__menu,
.dark #hero,
.dark #projects {
  color:rgb(245, 245, 244);
  background-color:#242424;
}
.dark footer,
.dark .footer__links,
.dark .dark__invert--BGcolor {
  color:#242424;
  background-color:rgb(245, 245, 244);
}

.dark .footer__links::before {
  background-color: #242424;
}

.dark .dark__invert--color{
 color: rgb(245, 245, 244);
}
.dark .dark__invert--mail{
 color: #242424;
}

.dark .dark__shadow {
  box-shadow: 0 12px 30px 0 rgba(245,245,244,0.28);
}
.dark nav,
.dark .nav__menu,
.dark #hero,
.dark #projects,
.dark footer,
.dark .footer__links,
.dark .dark__invert--BGcolor
.dark .dark__shadow,
.dark .footer__links::before,
.dark .dark__invert--color,
.dark .dark__invert--mail {
  transition: all 300ms ease-in-out!;
} */



/*=============================================
=            CHROME AUTOFILL                 =
=============================================*/


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: white !important;
  caret-color: white;
  transition: all;
}


input:autofill {
  background-color: inherit;
}

textarea {
  resize: vertical;
  height: 90px;
}
input {
  height: 40px;
}

input,
textarea {
  width: 100%;
  background-color: #242424;
  color: white;
  outline: none;
  border: 3px solid #c0c4cc;
  border-top: none;
  border-left: none;
  border-right: none;
  transition: all 300ms ease;
}

input:hover,
textarea:hover {
  border-color: #dcdfe6;
}


input:focus,
textarea:focus {
  border-color: rgb(96 165 250);
}

/* Background color for whole web page */
/* section { ADDED TAILWIND CSS
  background-color: rgb(245, 245, 245);
} */

img {
  display: block;
  max-width: 100%;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

li {
  list-style-type: none;
}
/* .click {
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);

}

.click:active {
  transform: scale(0.8);
} */

/* TAILWIND FOR ABOVE */
/* hover:scale-[1.1] active:scale-0.8] ease-in-out

/*=====  End of SIDE WIDE DEFAULT FORMATTING  ======*/
/*=============================================
=            Start of HERO PAGE        =
=============================================*/

/* #landing-page {     ADDED TAILWIND CSS AND RELABELED AS HERO SECTION
  min-height: 100vh;
} */

/*=====  End of HERO PAGE ======*/

/*=============================================
=            Start of NAV BAR         =
=============================================*/
/* nav {            ADDED TAILWIND CSS
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
} */

/* #personal-logo {         ADDED TAILWIND CSS
  height: 50px;
  width: 50px;
} */

/* .nav__link--list {          ADDED TAILWIND CSS
  display: flex;
} */

/* .nav__link {          ADDED TAILWIND CSS
  margin: 0 12px;
} */

/* .nav__link--anchor {         ADDED TAILWIND CSS
  text-decoration: none;
  font-size: 16px;
  color: #242424;
  font-weight: 700;
} */

/* .fa-adjust {         ADDED TAILWIND CSS
  font-size: 20px;
} */


/*=============================================
=            PROJECTS SECTION                 =
=============================================*/

/* 
.project__wrapper {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  overflow: hidden;
}

.project__wrapper:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}

.project__img {
  width: 100%;
  transition: all 600ms ease;
}

.project__wrapper:hover .project__wrapper--bg {
  opacity: 0.7;
  visibility: visible;
}

.project__wrapper--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 450ms ease;
  visibility: hidden;
}

.project__wrapper:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
} */

/* .modal__overlay--visible {
  z-index: 10;
}
.modal__overlay--visible {
  z-index: 10;
} */

.modal--open .modal {
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
  visibility: visible;
}

.modal {
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
  z-index: -1;
}

.modal--open .modal__half {
  transform: translateX(0%);
}